:root {
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.5;
  font-weight: 400;
  display: flex;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
html{
  min-height: 100%;
  position: relative;
  color: var(--font-color);
}
/*estilo basico para alinear al centro
.content__center {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  place-items: center;

}
body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}
/*estilo app*/
#app{
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
.container {
  flex: 1 0 auto;
  flex-grow: 1;
 /* padding: 5px 5px;*/
  text-decoration: none;
  margin-top: 5rem;
  background: linear-gradient(to bottom, var(--bg-color-clear) 50%, var(--bg-color-medium) 50%);
  transition: background 0.5s ease, color 0.5s ease;

}
.container__section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem 1rem;
}
.container__center{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
}
.content__article{
  margin: auto;
  width: 60%;
}
/* estilo del formulario */
.form{
  justify-self: center;
  padding: 0 2rem;
  margin: 0 2rem;
  text-align: left;
}
/*boton principal*/
.button {
  border: none;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: pre;
  display: inline-flex;
  cursor: pointer;
  padding: 0.625rem 0.9375rem;
  margin: 0.625rem;
  color: var(--bt-color-1);
  border: 0;
  border-radius: 1rem;
  background-color: var(--bt-color-1-after);

  transition: all 0.3s;
  z-index: 1;
}
/*animacion boton*/
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bt-color-1-after);
  border-radius: 1rem;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bt-color-1-before);
  transition: all 0.3s;
  border-radius: 1rem;
  z-index: -1;
}
.button:hover {
  color: var(--bt-color-1);
}
.button:hover:before {
  width: 100%;
}

/*boton secundario*/
.button__sec {
  color: var(--bt-color-2);
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
  margin-right: 5rem;
  display: inline-block;
  border-radius: 1rem;
  background-color: var(--bt-color-2-after);

  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button__sec:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bt-color-2-after);
  border-radius: 1rem;
  z-index: -2;
}
.button__sec:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bt-color-2-before);
  transition: all 0.3s;
  border-radius: 1rem;
  z-index: -1;
}
.button__sec:hover {
  color: var(--bt-color-2);
}
.button__sec:hover:before {
  width: 100%;
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0.01em 0 0 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
.p__error{
  color: var(--font-color-p-error);
  font-size: small;
}
p{
  color: var(--font-color);
  padding: 0;
  transition: color 0.5s ease;
}
a{
  transition: color 0.5s ease;
}
h2{
  color: var(--font-color-h2-pri);
  transition: color 0.5s ease;
}
.h2__color__sec{
  color:var(--font-color-h2-sec);
  transition: color 0.5s ease;
}
/*estilo boton like*/
.like__button {
  font-size: 2em;
  color: gray;
  transition: color 0.5s ease-in-out;
  border: none;
  background: none;
}

.like__button:hover,
.like__button.liked {
  color: red;
}

/*medias generales*/
@media only screen and (max-width: 29.8125rem /*477px*/){
  img {
    width: 100%;
  }
  .main__content {
    flex-direction: column;
    justify-content: space-around;
    padding: 0.25rem 0.25rem;
  }
}
@media only screen and (min-width: 29.8125rem /*477px*/) {
  .main__content {
    justify-content: space-around;
    padding: 0.25rem 0.25rem;
  }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
  .main__content {
    justify-content: space-evenly;
    padding: 0.25rem 0.25rem;
  }
}

